<div data-controller="new">

<div id="full-container">
  <div id="left-side">
    <h1>New game</h1>
    <div id="letters">
      <% @letters.each do |letter| %>
        <div class="letter" data-value="<%= letter %>" data-action="click->new#addLetter"><%= letter.upcase %></div>
      <% end %>
    </div>
    <p id="question">What is the longest word you can find?</p>
    <div id="form-container">
      <form class="InputAddOn" action="/score" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input class="InputAddOn-field" id="input" type="text" name="guess" data-target="new.guess">
        <input class="InputAddOn-item" id="button" type="submit" value="Play">
        <input id="token" name="token" type="hidden" value="<%= @letters %>" />
      </form>
    </div>
  </div>
  <div id="right-side">
    <div id="score">
      <div><strong>Score</strong></div>
      <div><%= session[:score] %></div>
    </div>
  </div>
</div>

</div>
